/* Structure */
header {
    background-color: #5AA9E6;
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
}

#main-header {
    margin: auto;
    text-align: center;
}

#main-content {
    margin: auto;
    display: flex;
    justify-content: space-between; /* Distribute space between flex items */
}

.c1o3 {
    padding: 20px;
    flex: 1;
    box-sizing: border-box; /* Include padding in total width */
    border: 2px solid black;
    margin: 15px 10px; /* Adjust horizontal space between flex items */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack elements vertically */
}

body {
    background-color: #7494EA;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; /* Adjust the space between lines */
    text-align: center; /* Center text content */
}

#main-nav-items a {
    text-decoration: none;
    color: black;
}

#main-nav-items li {
    list-style: none;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
}

#main-nav-items {
    padding: 20px;
    margin: auto;
    padding-left: 0;
}

#content-header {
    width: 90%;
    background-color: #5AA9E6;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
}

#ucl-trophy {
    border: 2px solid black;
    margin: auto;
    display: block; /* Ensures image centers properly */
}

#winners h4 {
    text-align: center;
}

#winners {
    border: 2px solid black;
}

.winners {
    margin: auto;
    border: 2px solid black;
}

/* Navigation */
#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#main-nav ul {
    padding-left: 0px;
    list-style-type: none !important;
}

#main-nav li {
    padding: 6px;
    margin: 6px;
    text-align: center;
}

.hidden {
    display: none;
}

/* Larger Resolutions */
@media (min-width: 900px) { 
    #main-nav-items,
    #main-content {
        display: flex;
    }
    
    #main-nav-items li, 
    .c1o3 {
        flex: 1;
    }

    #nav-toggle {
        display: none;
    }
}

#winner-image {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the padding between images */
}

.winners {
    margin: auto;
    border: 2px solid black;
}
